# Upgrade pip
pip>=25.2

# Core FastAPI backend
fastapi==0.111.1
# uvicorn[standard]==0.23.2
gunicorn  # ✅ add gunicorn for production process management
python-dotenv==1.0.1
pydantic==2.6.2

# Data processing
tqdm==4.66.1
PyPDF2==3.0.1

# AI / embeddings / PDF MCQ generation
langchain==0.2.14
langchain-google-genai  
